html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
}

body,
input {
  font: menu;
}

textarea,
input,
div,
button {
  margin: 0;
  outline: none;
}

.controls {
  background-color: rgb(217, 241, 238);
  padding: 10px 10px 10px 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

#choose-file {
  grid-column: 1 / span 2;
  justify-self: center;
}

#save-file {
  grid-column: 3 / span 2;
  justify-self: center;
}

button {
  background-color: rgb(181, 220, 216);
  border: none;
  font-size: 14px;
  padding: 0.5em 1em;
}

button:hover {
  background-color: rgb(156, 198, 192);
}

button:active {
  background-color: rgb(144, 182, 177);
}

button:disabled {
  background-color: rgb(196, 204, 202);
}

/*FlexBox*/

.drag-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  height: 100%;
  background: #4ca1af;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c4e0e5, #4ca1af);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c4e0e5, #4ca1af);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#drag-text {
  align-self: center;
  flex-basis: content;
  font-family: 'Abril Fatface', cursive;
}

#drag-container {
  align-self: center;
  width: 250px;
  height: 250px;
  border: dotted 3px black;
  transition: border-width 0.2s linear;
}

#drag-container:hover {
  border-width: 6px;
}